body {
    font-family: 'Roboto', sans-serif;
    /*background-image: url("../website_background_test.jpg");
    background-size: cover;*/
    /*background-color: rgb(198, 239, 255);*/
    background-color: #00171c;
}


@media (max-width: 768px) {

    .main-bio-container h1 {
        font-size: 1.75em;
    }

    .main-bio-container img {
        width: 20em;
    }

}