body {
    font-family: 'Roboto', sans-serif;
    /*background-image: url("../website_background_test.jpg");
    background-size: cover;*/
    /*background-color: rgb(198, 239, 255);*/
    background-color: #00171c;
}

.photo-gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo-gallery-container img {
    max-width: 25em;
    min-width: 25em;
    margin: 1em 1em 1em 1em;
}