body {
    font-family: 'Roboto', sans-serif;
    /*background-image: url("../website_background_test.jpg");
    background-size: cover;*/
    /*background-color: rgb(198, 239, 255);*/
    background-color: #00171c;
}

.photo-gallery-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;

}

.photo-gallery-container .column {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.photo-gallery-container .column .row img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .photo-gallery-container {
        flex-direction: column;
    }
}